<div class="nav-wrapper">
    <div id="nav-term-left">
        <div class="dots-wrapper">
            <div id="dot-1" class="browser-dot"></div>
            <div id="dot-2" class="browser-dot"></div>
            <div id="dot-3" class="browser-dot"></div>
        </div>
    </div>
    <div id="nav-term-mid">
        <a href="/">
            <p>lucasvil@portfolio:~</p>
        </a>
    </div>
    <div id="nav-term-right">
        <div class="dots-wrapper">
            <div id="dot-1" class="browser-dot"><i class="fa-solid fa-minus fa-xs"></i></i></div>
            <div id="dot-2" class="browser-dot"><i class="fa-regular fa-square dot-icon fa-sm"></i></div>
            <div id="dot-3" class="browser-dot">
                <a href="/">
                    <i class="fa-solid fa-xmark dot-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>