<div class="nav-wrapper">
    <div id="nav-term-left">
            <div class="dots-wrapper">
            <div id="dot-1" class="browser-dot"></div>
            <div id="dot-2" class="browser-dot"></div>
            <div id="dot-3" class="browser-dot"></div>
        </div>
    </div>
    <div id="nav-term-mid">
        <a href="/">
            <p>lucasvil@portfolio:~</p>
        </a>
    </div>
    <div id="nav-term-right">
        <div class="dots-wrapper">
			<div id="dot-1" class="browser-dot"></div>
			<div id="dot-2" class="browser-dot"></div>
            <a href="/">
			    <div id="dot-3" class="browser-dot"></div>
            </a>
        </div>
    </div>
</div>