<div class="nav-wrapper">
    <div class="dots-wrapper">
        <a href="/">
        <img id="backArrow" src="/img/bx-arrow-back.svg">
        </a>
    </div>
    <div id="nav-term-mid">
        <span>lucasvil@portfolio:~</span>
    </div>
    <div id="nav-term-right">
        <div id="nav-term-left">
        </div>
    </div>
</div>