<div>
    <div class="post">
        <img class="thumbnail" src="{{img}}">
        <div class="post-preview">
            <h6 class="post-title">{{title}}</h6>
            <p class="post-intro">{{intro}}</p>
            <a class="link" href="{{link}}">Read More</a>
        </div>
    </div>
</div>