:root{
    --maincolor:#46344E;
    --secondarycolor:#382a3f;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --border:#1d1520;

    --themeDotBorder: #FFF;
    --note:#2b202f;

    --buttonColor:#8534a3;
}