<!DOCTYPE html>
<html>
<head>
        <title>Lucas Villarroel</title>
        <meta name="viewport" contents="width=device-width, initial-scale=1, minimum-scale=1"/>
        
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link id="theme-style" rel="stylesheet" href="">

        <script>
            switch (localStorage.getItem('theme')) {
                case 'dark':
                    document.getElementById("theme-style").href = 'dark.css'
                    break;
                case 'purple':
                    document.getElementById("theme-style").href = 'purple.css'
                    break;
                default:
                    document.getElementById("theme-style").href = ''
                    break;
            }
        </script>


        <!-- Russ One font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

        <!-- Roboto Mono font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" cross7E4C74origin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">  
</head>
<body>

    {{{body}}}

</body>
</html>