<section class="s1">
    <div class="main-container">
        <div class="intro-wrapper">
            {{> nav}}
            <div class="left-col">
                <img id="profile-pic" src="./img/lucas_circle_b.png" alt="">
                <div id="theme-options-wrapper">
                    <div data-mode="light" id="light-mode" class="theme-dot"></div>
                    <div data-mode="dark" id="dark-mode" class="theme-dot"></div>
                </div>
                <p class="settings-note">^</p>
                <p class="settings-note">Set theme</p>
            </div>
            <div class="right-col">
                <div class="intro-text-wrapper">
                    <h2 id="intro-text"></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s2">
    <div class="main-container">
        <div class="about-wrapper">
            <div class="about-me">
                <h4>About me</h4>

                <p>
                    Currently pursuing a Master's degree in Computer Science. 
                    With a strong academic background in computer science/engingeering and an eagerness to learn more, I look forward to contributing to new and interesting projects.
                </p>

                <p>
                    Actively searching for a good team environment to apply and improve my skills in.
                </p>
            </div>
            <div class="about-skills">
                <h4>Skills</h4>
                <p>The tools and programming languages I'm most familiar are:</p>
                <div class="note">
                    <ul>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>C</li>
                        <li>Python</li>
                        <li>HTML/CSS</li>
                    </ul>
                    <ul>
                        <li>git</li>
                        <li>AWS</li>
                        <li>Postgres</li>
                        <li>docker</li>
                        <li>bash</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">Some past projects</h3>
        <div class="post-wrapper">
            {{> post img="./img/dashboard.PNG" link="/houseplant" title="Houseplant Monitoring System"
                intro="A houseplant monitoring system usinng Raspberry Pi, soil and light sensors and a web interface for visualization."
            }}
            {{> post img="./img/lsp.png" link="/lsp" title="Development Environment for the Meta Attack Language (MAL)"
                intro="A Language Server using the Language Server Protocol (LSP) coupled with a VSCode extension."
            }}
            {{> post img="./img/portfolio.jpg" link="/portfolio" title="This Website"
                intro="Frontend in JavaScript with an ExpressJS backend. Deployed with ci/cd pipeline using AWS EC2 and CodePipeline."
            }}
        </div>
    </div>
</section>

<script src="/js/intro.js"></script>
<script src="/js/theme.js"></script>
<script>
    for(let themeDot of document.getElementsByClassName("theme-dot")){
        themeDot.addEventListener('click', function(){
            let mode = this.dataset.mode;
            setTheme(mode, document.getElementById("theme-style"));
        })
    }

    window.addEventListener('load', (e) => {
    for(let el of document.querySelectorAll('body *')){
        el.style = "transition: 0.3s"
        }
    })

    displayIntroMessage(document.getElementById("intro-text"), "Hi, ", "I'm Lucas Villarroel")
</script>