<section class="s1">
    <div class="main-container">
        <div class="intro-wrapper">
            <div class="nav-wrapper">
                <div id="nav-term-left">
                </div>
                <div id="nav-term-mid">
                    <span>lucasvil@portfolio:~</span>
                </div>
                <div id="nav-term-right">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot">-</div>
                        <div id="dot-2" class="browser-dot">□</div>
                        <div id="dot-3" class="browser-dot">x</div>
                    </div>
                </div>
            </div>
            <div class="left-col">
                <img id="profile-pic" src="./img/lucas_square.jpg" alt="">
                <div id="theme-options-wrapper">
                    <div data-mode="light" id="light-mode" class="theme-dot"></div>
                    <div data-mode="dark" id="dark-mode" class="theme-dot"></div>
                    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                </div>
                <p id="settings-note" style="text-align: center;line-height: 0;">Select Theme^</p>
            </div>
            <div class="right-col">
                <div class="intro-text-wrapper">
                    <h1 id="intro-text">_</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s2">
    <div class="main-container">
        <div class="about-wrapper">
            <div class="about-me">
                <h4>About me</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero purus, tempus et felis quis,
                    ornare imperdiet est. Fusce cursus, quam eget rutrum suscipit, mi ante lobortis nisi, ut blandit
                    ante lacus tempus metus. Etiam mauris tortor, venenatis a elit non, lacinia laoreet nisi. </p>

                <p>Etiam nec massa est. Etiam convallis est leo, eget vulputate erat placerat at. Nam ac ante tempor,
                    bibendum nibh sit amet, interdum turpis. Aenean nec pretium ipsum, vestibulum feugiat justo. Fusce
                    semper orci vitae leo blandit, ut viverra nibh convallis. In varius metus in mollis finibus. </p>
            </div>
            <div class="about-skills">
                <h4>Skills</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div id="skills">
                    <ul>
                        <li>Java</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                    </ul>
                    <ul>
                        <li>Java</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">Some of my past projects</h3>
        <div class="post-wrapper">

            <div>
                <div class="post">
                    <img class="thumbnail" src="./img/rpi.jpg">
                    <div class="post-preview">
                        <h6 class="post-title">Houseplant Monitoring System</h6>
                        <p class="post-intro">A houseplant monitoring system consisting of a Raspberry Pi, sensors and a
                            web interface.</p>
                        <a href="/houseplant">Read More</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="./img/lsp.png">
                    <div class="post-preview">
                        <h6 class="post-title">Development Environment for the Meta Attack Language (MAL)</h6>
                        <p class="post-intro">A Language Server using the Language Server Protocol (LSP) coupled with a
                            VSCode extension.</p>
                        <a href="/lsp">Read More</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="./img/portfolio.jpg">
                    <div class="post-preview">
                        <h6 class="post-title">This Website</h6>
                        <p class="post-intro">Frontend developed using pure JavaScript with an ExpressJS backend.
                            Deployed using AWS Elastic Compute Cloud (ec2).</p>
                        <a href="/portfolio">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--section class="s2">
            <div class="main-container">
                <h3 style="text-align: center;">Get in touch</h3>
                <form action="post" id="contact-form">
                    <label>Name</label>
                    <input class="input-field" type="text" name="name">

                    <label>Subject</label>
                    <input class="input-field" type="text" name="subject">

                    <label>Email</label>
                    <input class="input-field" type="text" name="email">

                    <label>Message</label>
                    <textarea class="input-field" name="message"></textarea>

                    <input id="submit-btn" type="submit" value="Send">
                </form>
            </div>
        </section-->
<script src="/js/intro.js"></script>
<script src="/js/theme.js"></script>