{{> nav}}

<section class="s2">
    <div class="main-container">
        <div class="project-description">
            <h3>Monitoring System for Houseplants</h3>

            <p>
            The goal of this project was to familiarize myself with IoT technologies. The project was done in collaboration with one other person.
            <br>
            <br>
            The main components of this system are: A Raspberry Pi 3 B, an ExpressJS server, a cloud-based NoSQL database (MongoDB) and an API for collecting information about different plants.
			<br>
            <img class="project-img" src="img/system-overview.png">
            <br>
            The web-based dashboard presents real-time sensor data, plant information, and visualizes historical sensor data for the end user.
            Real-time updates are sent directly from the Raspberry to the client browser using MQTT and WebSockets.
            <br>
            <img class="project-img" src="img/dashboard.PNG">
            </p>
        </div>
    </div>
    </div>
</section>
{{> project-summary technologies=technologies repos=repos }}