{{> nav}}

<section class="s2">
    <div class="main-container">

        <div class="project-description">
            <h3>Development Environment for Meta Attack Language</h3>

            <p>
            This project was done as a part of my bachelors thesis alongside Erik Hanstad. 
            <br>
            <br>
            Meta Attack Lannguage (MAL) is a language to create thread modelling systems for specific domains. In this work the goal was
            to develop a development environment for MAL.
            <br>
            <br>
            The work included the development of a language server adhering to the Language Server Protocol (LSP) as well as a VSCode extension.
            Developing the language server required deep understanding (and some modification) of the Parser in the MAL compiler.
            <br>
            <br>
            The result was a VSCode extension communicating with the language server to provide code completion, go to definition, syntax highlighting and diagnostics.
            <br>
            <img src="img/lsp2.png" style="height: 340px;" class="project-img">
            </p>
        </div>
    </div>
    </div>
</section>
{{> project-summary technologies=technologies repos=repos }}