{{> nav}}

<section class="s2">
    <div class="main-container">

        <div class="project-description">
            <h3>Development Environment for Meta Attack Language</h3>

            <p>
            This project was done as a part of my bachelors thesis. 
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vulputate libero, eu egestas dui. 
            Praesent viverra sit amet justo ut aliquam. Suspendisse potenti. Suspendisse finibus magna leo, sed posuere nunc maximus sit amet. 
            <br>
            <br>
           Quisque ac porttitor dui, et ullamcorper nibh. Aenean auctor leo nisi, at tincidunt justo pharetra ut. 
           Donec suscipit nunc sit amet viverra malesuada. Maecenas finibus sem ac elit iaculis, non posuere libero aliquam. Sed sed sem eget enim porta cursus sit amet a libero. Morbi sit amet diam vel orci pharetra sodales quis eleifend lectus.
            <br>
            <br>
            Aenean semper, sem at condimentum rhoncus, ipsum purus tempus lectus, vel dictum arcu purus in quam. Sed non quam et orci dapibus commodo. 
            Vivamus nec sapien nec turpis fringilla tincidunt.
            </p>
        </div>
    </div>
    </div>
</section>
<section class="s1">
    <div class="main-container">
        <div class="technologies-wrapper">
            <div class="technologies-left">

                <h5>Technologies:</h5>
                <ul>
                    <li>- Meta Attack Language</li>
                    <li>- LSP</li>
                    <li>- Java</li>
                    <li>- Maven</li>
                    <li>- TypeScript</li>
                    <li>- VSCode Extension API</li>
                </ul>
            </div>
            <div class="technologies-right">
                <h5>Check out the source code:</h5>

                <a href="https://github.com/lucasvil/mal-ls">Language Server</a>
                <br>
                <a href="https://github.com/lucasvil/mal-vscode-plugin">VSCode Plugin</a>
            </div>
        </div>
    </div>
</section>