{{> nav}}

<section class="s2">
    <div class="main-container">

        <div class="project-description">
            <h3>Portfolio</h3>

            <p>
            The purpose of this website is to showcase some of my past projects. I could've used a content management system
            which would have been easy (but boring).
            <br>
            <br>
            This web application written in JavaScript, HTML and CSS. For the backend I used ExpressJS and Handlebars.
            <br>
            <br>
            I'm currently hosting a server on an Amazon EC2 instance. 
            To manage and keep the server processes running smoothly, I'm using PM2, a process manager for Node.js applications. 
            <br>
            <img src="img/pm2.png" style="height: 100px" class="project-img">
            <br>
            I've also connected an AWS CodePipeline to the Github repository.
            The pipeline is triggered on commits to the main branch. It uses CodeBuild for testing and CodeDeploy for deploying the application.
            <br>
            <img src="img/aws-pipeline.png" style="height: 100px" class="project-img">
            <br>
            I acquired a domain and pointed it to the elastic IP of my EC2 instance. To ensure secure communication with my server, I needed a TLS certificate.
            TLS certificates from certificate authorities can be pricey... but they can also be free. Therefore I used Certbot
            to generate a free TLS certificate from Let's Encrypt.
            <br>
            <img src="img/tls.png" style="height: 100px" class="project-img">
            <br>
            </p>
        </div>
    </div>
    </div>
</section>
{{> project-summary technologies=technologies repos=repos }}