:root {
    --maincolor: #15202B;
    --secondarycolor: #192734;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --border: #164D56;

    --themeDotBorder: #FFF;
    --note: #111921;

    --buttonColor: #17a2b8;
}